@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f0eb;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
